@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgba(255, 0, 0, 0.438);
}

header{
    background-color: white;
}
header img {
    width: 50px;
    height: 50px;
    float:left;
    padding: 5px;
    
}
header > h1 .nome{
    padding: 15px;
    padding-bottom:5px;
    text-align: center;
    color: rgb(238, 5, 5);
}
header > h1 .qsomos a{ 
    float: right; 
    font-size: 15px;
    margin-top: -20px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

i#burguer {
    background-color: rgb(12, 12, 12);
    color: rgb(238, 5, 5);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
i#burguer:hover{
    background-color: white;
    color: black
}

menu{
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(39, 38, 38);
    color: white;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

/*Barra de rolagem*/
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
    border-radius: 5px;
}

/*Trilha de progresso da barra de rolagem*/
::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 5px;
}

/*alça de rolagem arrastável*/
::-webkit-scrollbar-thumb {
    background-color: brown;
    border-radius: 5px;
}

.q1 {
    background-color: white;
    height: 130px;
    overflow-x: scroll;
    border-radius: 5px;
    box-shadow: 2px 1px 1px 0.5px rgba(0, 0, 0, 0.062);
}
.q1 ul {
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    list-style: none;
    margin: 10px;
    margin-left: -8px;
    
}
.q1 li {
    text-align:center;
    text-indent: 20px;
    
    
}
 .q1 li img {
    border-radius: 100px;
 }

 .q2 {
    margin-top: 20px;
 }